<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gif Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <h1>A GIF PAGE!</h1>
  {{#gifs}}
  <h2>{{name}}</h2>
  {{/gifs}}
</body>
</html>