<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
{{>nav}}
  <div class="main">
  <h1>A Gif Collector</h1>
  <p>When the end of the world comes, and economies and nations have crashed, the only currency will be GIFS. Store them here.</p>
  </div>
</body>
</html>